body{
    box-sizing: border-box;
}
.container{
    width: 1400px;
    margin: 0 auto;
    margin-top: 50px;
}
/* .odna{
    margin-left: 10px;
    margin-right: 10px;
} */
tr, td{
    border: 1px solid black;
    text-align: center;
}